NEXT_PUBLIC_BLOG_API_URL=https://api.buzingbee.com/api/blog
BLOG_API_URL=https://api.buzingbee.com/api/blog
N8N_WEBHOOK_URL=https://n8n.buzingbee.com/webhook/48b7b4e4-a2b6-433f-acad-48c2fc4071cb
SITE_URL=https://buzingbee.com
